.prose .anchor {
  @apply invisible absolute no-underline;
  margin-left: -0.7em;
  padding-right: 0.4em;
  cursor: pointer;
}

.prose .anchor:after {
  @apply text-indigo-500;
  content: '#';
}

.prose .anchor:after:hover {
  @apply underline;
}

.anchor:hover,
.prose *:hover > .anchor {
  @apply visible;
}
