@tailwind base;
@tailwind components;
@tailwind utilities;

@import "one-dark-theme.css";

.prose .anchor {
  @apply invisible absolute no-underline;
  margin-left: -1em;
  padding-right: 0.5em;
  cursor: pointer;
}

.prose .anchor:after {
  @apply text-indigo-500;
  content: "#";
}

.prose .anchor:after:hover {
  @apply underline;
}

.anchor:hover,
.prose *:hover > .anchor {
  @apply visible;
}
